$BoldBlue: #79E7E7;
$LightBlue: #48CBD9;
$LightGray: #C6C5D5;
$MidnightBlue: #14044D;
$SlateGrey: #716B94;
$Gray1: #333333;
$Gray2: #4F4F4F;
$Gray3: #828282;
$Gray4: #BDBDBD;
$Gray5: #E0E0E0;
$Gray6: #F2F2F2;
$Green1: #219653;
$Green2: #27AE60;
$Green3: #6FCF97;
$Orange: #F2994A;
$Red: #EB5757;
$Yellow: #F2C94C;
$AAVEBlue: #3CBAC6;
$Aquamarine: #9EF4C4;
$Black: #140C0C;
$CadetBlue: #4CAA96;
$DarkBlue: #37367B;
$GreenGray: #B4D4CC;
$LightSeaGreen: #3ABA96;
$PaleTurquoise: #C0EAED;
$PaleVioletRed: #B6509E;
$Plum: #D395C4;
$SeaGreen: #36ACA4;
$SkyBlue: #81D5DC;
$Thistle: #E9CAE2;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
$body-font-family: 'Lato', sans-serif;
$title-font: $body-font-family, sans-serif;